<div class=bar>
    <h1 id=header_title>
        villains
    </h1>
    <nav>
    	<ul class="topnav" id="myTopnav">
    		<li><a href="/users/index">Home</a></li>
    		<li><a href= "/feedback/new">FeedBack</a></li>
    		<li><a href= "">About Us</a></li>
    		<li><a href="/login">Login</a></li>
    		<li><a id="active" href="/signup">Sign Up</a></li>
    	</ul>
    </nav>
</div>


<div class="login">
  <div class="container">
    <div class="form">

    <h1>Sign up</h1>

	  <%= form_for(@user) do |f| %>
      <%= f.text_field :first_name, :placeholder => "First name" %>
      <%= f.text_field :last_name, :placeholder => "Last name" %>
      <%= f.email_field :email, :placeholder => "Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Create an account", class: "btn-submit" %>
    <% end %>
  
    </div>
  </div>
</div>