<div class=bar>
    <h1 id=header_title>
        villains
    </h1>
    <nav>
    	<ul class="topnav" id="myTopnav">
    		<li><a href="/users/index">Home</a></li>
    		<li><a href= "/feedback/new">FeedBack</a></li>
    		<li><a href= "">About Us</a></li>
    		<li><a href="/login">Login</a></li>
    		<li><a id="active"
    		href="/signup">Sign Up</a></li>
    	</ul>
    </nav>
</div>


<div class="login">
  <div class="container">
    <div class="form">

    <h1>Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  
    </div>
  </div>
</div>