<div class=bar>
    <h1 id=header_title>
        villains
    </h1>
    <nav>
    	<ul class="topnav" id="myTopnav">
    		<li><a href="/">Home</a></li>
    		<li><a href="/feedback/new">FeedBack</a></li>
    		<li><a href="/about_us/new">About Us</a></li>
    		<li><a id="active" href="/users/sign_in">Login</a></li>
    		<li><a href="/users/sign_up">Sign Up</a></li>
    	</ul>
    </nav>
</div>

<section class="creditals_wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <br />
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
  
    <div class="field">
      <br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="form">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "Log in", class:"btn-submit" %>
    </div>
  <% end %>
</section>

<%= render "devise/shared/links" %>
